*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }
 
 body{
     margin: 0;
     padding: 0;
     box-sizing: border-box; 
 }
 
 
 
 .container{
     width: 100%;
     max-width: 1170px;
     margin: 0 auto;
 }
 
 .header__inner{
     width: 1000px;
     display: flex;
     margin: 0 auto;
     margin-top: 100px;
     justify-content: space-between;
 
 }
 
 .play-list,  .play-list1{
     width: 160px;
     height: 400px;
     position: relative;
 }
 .audio-title,  .audio-title1{
     text-align: center;
     padding: 5px;
     text-transform: uppercase;
     color: rgb(34, 202, 18);
     font-size: 15px;
 }
 
 .play-btn,  .play-btn1{
     background: greenyellow;
     border: none;
     border-radius: 5px;
     width: 130px;
     height: 30px;
     cursor: pointer;
     transition: all 0.1s linear;
     display: block;
     margin: 0 auto;
     margin-top: 35px;
 }
 
 .play-btn, .play-btn1:hover{
     background: rgb(47, 144, 255);
 }

 .play-btn, .play-btn1:active{
    background:  rgb(255, 51, 0)
 }
 

 .ProgressContainer,  .ProgressContainer1{
     width: 160px;
     height: 6px;
     background: rgb(0, 162, 255);
     margin-top: 15px;
 }
 
 .Progress, .Progress1{
     height: 6px;
     background: rgb(1, 22, 34);
     
 }