*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1, h2, h3, h4, h5, h6, a{
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
  li{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  button{
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }



.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
  }



.header{
    width: 100%;
    height: max-content;
    background: #187fe6;
    height: 100vh;
}


#header__inner {
    width: 1000px;
    display: flex;
    margin: 0 auto;
    padding-top: 35px;
    justify-content: space-between;
    margin-left: 100px;
    background: transparent;
}

.header-title{
  color: #EDF5E1;
  font-size: 25px;
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  width: 600px;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
}

.header-about{
  font-family: sans-serif;
  width: 700px;
  font-size: 30px;
  color: azure;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
}

.header-button{
  width: 150px;
  height: 40px;
  border: 2px solid rgb(51, 255, 0);
  border-radius: 5px;
  background: transparent;
  color: #EDF5E1;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 1s linear;
}

.header-button:hover{
  width: 150px;
  height: 40px;
  border: 2px solid rgb(51, 255, 0);
  border-radius: 5px;
  background: transparent;
  color: #EDF5E1;
  display: block;
  margin: 0 auto;
  margin-top: 62px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 1s linear;
}

.logo{
  color: #187fe6;
  font-size: 35px;
  text-align: center;
  font-weight: 900;
  margin-top: -20px;
}


.menu-list{
  display: flex;
}

.menu-link{
  margin-left: 20px;
  color: #EDF5E1;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid rgba(205, 223, 212, 0);
}

.menu-link:active{
  border: 1px solid rgb(205, 223, 212);
}


/* link nav */

.link-nav{
    width: 200px;
    text-align: right;
    margin-left: 75px;
    margin-top: 10px;
    font-size: 17px;
}

.link-nav a{
  color: rgb(207, 202, 202);
}

.link-nav span{
  color: rgb(207, 202, 202);
}